<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - w1867882_Harini_Hapuarachchi_Land_Evaluation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/w1867882_Harini_Hapuarachchi_Land_Evaluation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <p>&nbsp;&nbsp;&nbsp;</p><img src="../Images/ProjectIcon.png" style="width:40px" /><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Land Evaluation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (w1867882_Harini_Hapuarachchi_Land_Evaluation.Controllers.SignInController.UserName == "")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="SignIn" asp-action="Index">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" type="" asp-area="" asp-controller="Home" asp-action="SignOut">Sign Out</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="UserManagement" asp-action="Index">User Management</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-0 card-footer text-muted" style="background-color:darkolivegreen">
        <div class="container" style="color:black">
            &copy; 2023 - Land Evaluation - Harini Hapuarachchi<a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
