
@{
    ViewData["Title"] = "Index";
}

@model w1867882_Harini_Hapuarachchi_Land_Evaluation.Views.VidewModel.TeaLandView

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:darkcyan; background-image: url(../Images/landEvaluate1.jpg); background-repeat:no-repeat; background-size:cover">
    <div class="text-center">
        <h1 class="display-4" style="font-weight:bold;font-size:30px">Enter your data to predict the Suitability of Tea</h1>
        <div>
            <form style="justify-content:center" method="post">
                <div class="form-group">
                    <label style="width:500px; text-align:left; color:aliceblue">Elevation</label>
                    <input type="number" class="form-control" style="width:500px; margin-left:300px" id="evaluation" name="evaluation" runat="server" placeholder="10m" />
                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                </div>
                <div class="dropdown">
                    <label asp-for="LandModel.Location"  style="width:500px; text-align:left; color:aliceblue">Location</label>
                    <select class="dropdown-toggle" asp-for="LandModel.Location" style="width:500px; margin-right:320px; margin-left:300px" id="dropdownLocation">
                        <option>Select Up/Mis/Low Country</option>
                    <option class="dropdown-item" value="Up">Up Country</option>
                        <option class="dropdown-item" value="Mis">Mis Country</option>
                    <option class="dropdown-item" value="Low">Low Country</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="LandModel.Days" style="width:500px; text-align:left; color:aliceblue">Growning Period</label>
                    <input asp-for="LandModel.Days" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="gPeriod" placeholder="Enter Number Days">
                    @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="LandModel.MeanAnualRF" style="width:500px; text-align:left; color:aliceblue">Mean Annual RF</label>
                    <input asp-for="LandModel.MeanAnualRF" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="meanAnnualRF" placeholder="mm">
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="LandModel.SoilDepth" style="width:500px; text-align:left; color:aliceblue">Soil Depth</label>
                    <input asp-for="LandModel.SoilDepth" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="soilDepth" placeholder="cm">
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="dropdown">
                    <label asp-for="TeaLandModel.SoilTexture" style="width:500px; text-align:left; color:aliceblue">Soil Texture</label>
                    <select class="dropdown-toggle" asp-for="TeaLandModel.SoilTexture" style=" width:500px; margin-right:320px; margin-left:300px" id="dropdownTexture">
                        <option>Select Loam to clay/Sandy to loam/Loam/Sandy/Any</option>
                        <option class="dropdown-item" value="S">Sandy</option>
                        <option class="dropdown-item" value="L">Loam</option>
                        <option class="dropdown-item" value="C">Clay</option>
                        <option class="dropdown-item" value="SL">Sandy to Loam</option>
                        <option class="dropdown-item" value="LC">Loam to Clay</option>
                        <option class="dropdown-item" value="A">Any</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="TeaLandModel.StonesAndGrovels" style="width:500px; text-align:left; color:aliceblue">Stones and Grovels %</label>
                    <input asp-for="TeaLandModel.StonesAndGrovels" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="StonesAndGrovels" placeholder="Please give a percenatge">
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="dropdown">
                    <label asp-for="LandModel.SoilDrainageClass" style="width:500px; text-align:left; color:aliceblue">Soil Drainage Class</label>
                    <select class="dropdown-toggle" asp-for="LandModel.SoilDrainageClass" style="width:500px; margin-right:320px; margin-left:300px" id="dropdownDrainage">
                        <option>Select WD/MWD/ED/ID/PD</option>
                        <option class="dropdown-item" value="WD">WD</option>
                        <option class="dropdown-item" value="MWD">MWD</option>
                        <option class="dropdown-item" value="ED">ED</option>
                        <option class="dropdown-item" value="ID">ID</option>
                        <option class="dropdown-item" value="PD">PD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="LandModel.SoilPH" style="width:500px; text-align:left; color:aliceblue">Soil PH</label>
                    <input asp-for="LandModel.SoilPH" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="SoilPH" placeholder="ph">
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="TeaLandModel.SlopeAngle" style="width:500px; text-align:left; color:aliceblue">Slope Angle %</label>
                    <input asp-for="TeaLandModel.SlopeAngle" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="SlopeAngle" placeholder="Please give a percenatge">
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="dropdown">
                    <label asp-for="TeaLandModel.PastErosion" style="width:500px; text-align:left; color:aliceblue">Past Erosion</label>
                    <select class="dropdown-toggle" asp-for="TeaLandModel.PastErosion" style="width:500px; margin-right:320px; margin-left:300px" id="dropdownErosion">
                        <option>Select Nil/Slight/Moderate/Severe</option>
                        <option class="dropdown-item" value="nil">Nil</option>
                        <option class="dropdown-item" value="slight">Slight</option>
                        <option class="dropdown-item" value="moderate">Moderate</option>
                        <option class="dropdown-item" value="severe">Severe</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="LandModel.RockOutcrops" style="width:500px; text-align:left; color:aliceblue">Rock Outcrops %</label>
                    <input asp-for="LandModel.RockOutcrops" type="number" class="form-control" style="width: 500px; margin-left: 300px" id="RockOutcrops" placeholder="Please give a percenatge">
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <br />
                <div class="btn-toolbar" role="toolbar" style="margin-left: 300px" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="margin-right:10px">
                        <button type="submit" class="btn btn-primary" asp-controller="Evaluate" asp-action="Create">Evaluate</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group" style="margin-left:10px">
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


